.navbar .nav-item {
    margin-left: 45px;
}

.navbar .nav-link .nav-item {
    padding: 5px 0;
    position: relative;
}

.navbar .nav-link .nav-item::before {
    content:'';
    position:absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: blue;
    transition: all 0.5s ease;
    transform: scale(0);
}

.nav-bar .nav-item .nav-link.active::before,
.nav-bar .nav-item .nav-link:hover::before{
    transform: scale(1);
}